body{
    background-color:#424242 ;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carte{
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border-radius: 12px;
    overflow: hidden;
}
.Fond{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    border-radius: 12px 12px 0px 0px;
}
.Boite{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
}

.character{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
    margin-left: 5%;
    width: 30%;
    height: 25%;
}

.Prenom{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    margin-left: 10%;
    width: 100%;
    height: 10%;
}

.Nom{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    margin-top: 3%;
    width: 60%;
    height: 10%;
}

.Pet{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    margin-left: 10%;
    width: 60%;
    height: 10%;
}

input{
    border-radius: 12px;
    background-color: #3E5662;
    border: #2F2F2F;
    border-width: 0%;
    width: 100%;
    height: 120px;
}

.Characteralign{
    display: flex;
}

.Genre{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 10%;
    width: 5%;
    height: 5%;
}

.Genre2{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 5%;
    width: 5%;
    height: 5%;
}

hr{
    display: flex;
    flex-direction: column;
    color: white;
    height: 3%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.Create{
    display: flex;
    align-items: center;
    background-color: #3DA92E;
    color: white;
    font-size: 7px;
    font-weight: bold;
    width: 40%;
    height: 10%;
    margin-left: 25%;
    border-radius: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}